{% load staticfiles %}
body{
	font-family: 'PT Sans', sans-serif;
	background-color: #88BBD6;
}

h1{
	font-family: 'Montserrat', sans-serif;
}

footer{
	padding-top: 25px;
}
footer p{
	font-size: .75em;
}

.header{
	height:500px;
	width:100%;
	
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;

}
.content{
	background-color: #CDCDCD;
}

.navbar{
	margin-bottom: 0 !important;
	background-color: #99D3DF;
}

.navfont{
	font-family: 'Montserrat';
	font-size: 1.25em;
	margin-bottom: 10px;
}

.nav-link{
	color: #FFF !important;
}

.bigbrand{
	font-size: 1.5em;
	color: #FFFFFF !important;
}

.centerstage{
	margin-left: auto;
	margin-right: auto;
}

.postTitle{
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	text-align: center;
}

.postAuthor{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25em;
	text-align: center;
}

.postdate{
	text-align: center;
}

.makered{
	color:red;
}

.divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid rgba(255,255,255,.5);
    border-left: 1px solid #FFF;
}

.words{
	text-align: justify;
}