{% extends "blog/base.html" %}
{% load staticfiles %}
{% block titleblock %}
	Not Lost Not Found
{% endblock titleblock %}
{% block content %}
	<div class="row">
	<div class="header"></div>
	</div>
	<div class="container content">
		<div class="jumbotron">
			<div class="row align-items-center">
				<div class="col-8">
					<h1>Being Present and Taking Notes</h1>
					<hr class="my-3 hidden-sm-down">
					<p class="lead text-center hidden-sm-down">
					All that is gold does not glitter,<br>
					Not all those who wander are lost;<br>
					The old that is strong does not wither,<br>
					Deep roots are not reached by the frost.<br>
					From the ashes a fire shall be woken,<br>
					A light from the shadows shall spring;<br>
					Renewed shall be blade that was broken,<br>
					The crownless again shall be king.</p>
				</div>
				<div class="col">
					<img src="{% static 'blog/img/carmen.jpg' %}" alt="Picture of Me" class="profile-pic img-fluid rounded"/>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="container">
					<h2>Recent Posts:</h2>
				</div>
			</div>
			<div class="row">
				{% for post in post_list|slice:"3" %}
					<div class="col-sm-6 col-md-4">
						<div class="post-thumb">
							<a href="{% url 'post_detail' pk=post.pk %}">
							{% if post.feature %}
								<img src="{{ post.feature.url }}" alt="{{ post.title }}" class="img-responsive">
							{% else %}
								<img src="{% static 'blog/img/header_na.jpg' %}" alt="{{ post.title }}" class="img-responsive">
							{% endif %}
								<div class="container"
								<p class="index-post-info"><span class="index-post-title">{{ post.title }}</span><br>
								<span class="index-post-comments"> Comments: {{ post.comments.count }}</span></p>
								</div>
							</a>
						</div>
					</div>		
				{% endfor %}	
			</div>
		</div>
	</div>
{% endblock content %}