{% extends "blog/base.html" %}
{% block titleblock %}
	Drafts
{% endblock titleblock %}
{% block content %}

	{% for post in post_list %}

	{% if post.feature %}
		<div class="post">
			<table>
				<tr>
					<td>
						<img src="{{ post.feature.url }}" alt="{{ post.title }} Featured Image" class="feature-image" />
					</td>
					<td>
						<h1 class="post_title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
						<p class="post_info">
						Published: {{ post.create_date|date:"m-d-Y" }} <br />
						{{ post.text|truncatechars:200|safe|linebreaksbr }}
						</p>
					</td>
				</tr>
			</table>
		</div>
	{% else %}
		<div class="post">
			<h1 class="post_title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
			<p class="post_info">
			Published: {{ post.create_date|date:"m-d-Y" }} <br />
			{{ post.text|truncatechars:200|safe|linebreaksbr }}
			</p>
		</div>
	{% endif %}
	{% empty %}
	<h1>No Drafts</h1>
	{% endfor %}
	
{% endblock content %}