body{
	font-family: 'PT Sans', sans-serif;
}

h1{
	font-family: 'Montserrat', sans-serif;
}

footer{
	padding-top: 25px;
	background-color: gray;
}

.content{
	background-color:red;
}

.navfont{
	font-family: 'Montserrat';
	font-size: 1.25em;
	margin-bottom: 10px;
}

.bigbrand{
	font-size: 1.5em;
}

.centerstage{
	margin-left: auto;
	margin-right: auto;
}

.postTitle{
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	text-align: center;
}

.postAuthor{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25em;
	text-align: center;
}

.postdate{
	text-align: center;
}

.makered{
	color:red;
}

.divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid rgba(0,0,0,.5);
    border-left: 1px solid #f2f2f2;
}

.right-align{
	float:right;
}
