body{
	font-family: 'PT Sans', sans-serif;
}

h1{
	font-family: 'Montserrat', sans-serif;
}

.navfont{
	font-family: 'Montserrat';
	font-size: 1.25em;
	margin-bottom: 10px;
}

.bigbrand{
	font-size: 1.5em;
}

.centerstage{
	margin-left: auto;
	margin-right: auto;
}

.postdate{
	text-align: center;
}

.postTitle{
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	text-align: center;
}

.postcontent{
	font-size: 1.25em;
}

.makered{
	color:red;
}
/*.btn-comment{
	position: absolute;
	right:0px;
}*/